/* <--- Corpo do HTML ---> */
/* Configurações do body */
body {
    font-family: 'Montserrat', sans-serif;  /* Define tipo de fonte */
}

/* <--- Caixa de Busca ---> */
/* Configurações do cabeçalho */
header {
    padding: 20 0;  /* Padding/Margem interna */
}
/* <--- Caixa de Busca ---> */
/* Configurações da cx de busca */
#divBusca {
    float: right; /* Ancoragem a direita */
    margin-right: 20px; /* Margem direita */
    border: solid 1px #808080; /* Definições da borda */
    border-radius: 10px; /* Arredondamento dos cantos */
    width: 300px; /* Comprimento */
    height: 32px; /* Altura */
}

/* Configurações do texto da cx de busca */
#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 17px;
    border: none;
    height: 32px;
    width: 220px;
}

/* Configurações do botão da cx de busca */
#btnBusca {
    border: none;
    float: right;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 60px;
    background-color: #ddd;
}

/* <--- Logo ---> */
/* Configurações da logo */
.logo {
    width: 180px;
    left: 100px;
}

/* <--- Container caixa ---> */
/* Configurações do container caixa */
.caixa {
    width: 940px; /* largura */
    position: relative;  /* método de posicionamento */
    margin: 0 auto;  /* margem */
}

/* <--- Barra de menu/navegação ---> */
/* Configurações do menu */
nav {
    width: auto; /* largura */
    position: absolute;  /* método de posicionamento */
    top: 50px; 
    right: 40px;
}

/* Configurações dos itens da lista */
nav li {
    display: inline; /* Comportamento dos elementos em linha */
    margin: 0 0 0 55px;  /* margens */
}

/* Configurações dos textos da barra de menu */
nav a {
    text-transform: uppercase; /* transforma texto em maiusculas */
    color: #696966; /* Cor do texto */
    font-weight: bold; /* Negrito */
    font-size: 22px; /* Tamanho da fonte */
    text-decoration: none; /* Remove o sublinhado */
}

/* Configurações dos textos da barra de menu com o Mouse por cima */
nav a:hover {
    color: #e51b23; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
}

/* <---- Configuração de margens do h1 ----> */
h1 {
    margin-left: 40px;
    margin-top: 15px;
}

/* <---- css do título principal ----> */
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
    text-align: center;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.principal {
    background-color: black;
}

/* <----- Section lancamentos ------> */
.titulo-lancamentos {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.lancamentos {
    width: 1000px;
    margin: 0 auto; 
    padding: 10px 0;
}

.lancamentos li {
    display: inline-block;
    text-align: center;
    width: 16%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.lancamentos li:hover {
    border: 1px solid #000000;
    border-radius: 10px;
}

.lancamentos li:active {
    border: 2px solid #088C19;
    border-radius: 10px;
}

.lancamento-marca {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.lancamento-descricao {
    padding-top: 20px;
    color: gray;
}

.lancamento-preco {
    font-size: 20px;
    font-weight: bold;
}

.lancamento-preco-parcelado {
    font-size: 11px;
    color: darkgray;
}


/* <----- Section mais-vendidos ------> */
.mais-vendidos {
    width: 1000px;
    margin: 0 auto; 
    padding: 10px 0;
}

.titulo-mais-vendidos {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.mais-vendidos li {
    display: inline-block;
    text-align: center;
    width: 16%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.mais-vendidos li:hover {
    border: 1px solid #000000;
    border-radius: 10px;
}

.mais-vendidos li:active {
    border: 2px solid #088C19;
    border-radius: 10px;
}

.mais-vendidos-marca {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.mais-vendidos-descricao {
    padding-top: 20px;
    color: gray;
}

.mais-vendidos-preco {
    font-size: 20px;
    font-weight: bold;
}

.mais-vendidos-preco-parcelado {
    font-size: 11px;
    color: darkgray;
}

/* <----- Section mapa ------> */
.mapa {
    width: 1000px;
    margin: 0 auto; 
    padding: 10px 0;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

/* <----- formatar texto privacidade, duvida, devolução e sobre----->*/
.texto-privacidade, .texto-duvida, .texto-devolucao, .texto-sobre {
    width: 940px;
    margin: auto;
    text-align: justify;
}

/* <----- Configurações do Rodapé -----> */
footer {
    width: auto;
    background-image: url("bg.jpg");
    text-align: center;
    padding-top: 30px;
    padding-bottom: 160px;
}    

#rodape {
    margin: 10px auto;
    width: 940px;
    text-align: center;
}

#rodape p {
    color: #888888;
    font-size: 13px;
    line-height: 2;
}
#rodape a {
    color: #888888;
    font-size: 13px;
    text-decoration: none;
    line-height: 2;
}

#rodape a:hover {
    color: deeppink;
    text-decoration: none;
}

.coluna {
    background: url("bg.jpg");
    display: inline;
    float: left;
    width: 300px;
}

.copyright {
    color: #888888;
    font-size: 13px;
}

/* <--- Configura tamanho e padding dos icones das redes sociais ---> */
.linkedin, .instagram, .whatsapp, .skype, .twitter, .email {
    width: 32px;
    padding: 5px;
}

/* <--- Configurações do Carousel ---> */
.carousel {
    width: 940px;
    margin: 0 auto;
    align-content: center;
}

/* <--- Redimensiona imagens dos celulares ---> */
.iphonexr, .s10, .mi9, .edge, .k50, .a10, .iphone8, .mi8 {
    width: 80%;
}